.nav_list{
    display: flex;
    gap: 2rem;
    list-style: none;
    padding: 2rem;
}

.nav_item{
    font-size: 1.2rem;
    font-weight: 400;
}

.hello{
    color: aqua;
    font-weight: 1.4rem;
    transition: 0.3s ease-in-out;
}

.hello:hover{
    color: red;
    scale: 1.5;
}